# Download Prometheus and extract it

---
- name: Download and extract a tarball
  hosts: monitoring
  become: yes
  vars:
    download_url: "https://github.com/prometheus/prometheus/releases/download/v3.8.0/prometheus-3.8.0.linux-amd64.tar.gz"
    download_path: "/home/ubuntu/prometheus-3.8.0.linux-amd64.tar.gz"
    extract_path: "/home/ubuntu/"
  tasks:
    - name: Download Proemtheus from remote url
      get_url:
          url: "{{download_url}}"
          dest: "{{download_path}}"
          mode: '0644'
    - name: Extract tarball to target directory
      unarchive:
          src: "{{download_path}}"
          dest: "{{extract_path}}"
          remote_src: yes
