# Stop a service if disk usage > 80%

---
- name: Stop a service if disk usage > 80%
  hosts: web
  become: yes
  tasks:
    - name: Check disk usage
      shell: df -h / | awk 'NR==2 {print $5}' | sed 's/%//' 
      register: disk_usage
    - name: Display current disk usage
      debug:
        msg: "Current disk usage is {{disk_usage.stdout}}%"
    - name: Stop Nginx if disk usage > 80%
      service:
        name: nginx
        state: stopped
      when: disk_usage.stdout | int > 80


 # df -h / --> show disk usage of root (/)
 # awk 'NR==2 {print $5}'  --> awk is a text processing tool, NR==2 no of record(line 2), {print $5} Extracts "Use%" column 
 # sed 's/%//' --> removes % sign leaving empty number.
